/.idea
/.vscode
/dist
/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/rootfs
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
sounds/wav/black_bear
