# Production
build

# Testing
coverage

# Package management
*.pnp
*.pnp.js
node_modules
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*

# Documentation (LaTeX)
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pdf
*.pyg
*.run.xml
*.toc
_minted-main

# Miscellaneous
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
