/* #File Input */
/* File(s) input section */
.fileSelect {
    margin-top: 5vh;
}

/* List of files in dir */
.files {
    margin-top: 5px;
}

/* Each file */
.files li {
    /* float: left; */
    clear: both
}

/* Main input section */
.jobInput {
    margin-top: 5vh
}
/* #End File Input */

/* #Preset Parameters  */
/* Dropdown preset button */
.presetDropdown {
    float: right;
}

/* Specs listed in preset */
.presetField {
    margin-left: 1vw;
}

/* Preset name */
.presetAlias {
    float: left;
    /* margin-left: 3vw; */
}

/* Spec name */
.presetField strong {
    clear: left;
    float: left;
}

/* Preset spec value */
.presetField p {
    clear: right;
    margin-right: 2vw;
    float: right;
}

.presetField:first-child {
    clear: both;
}

/* Select preset button */
.selectPreset {
    clear: both;
}
/* #End Preset Parameters */

.alert-warning {
    max-width: 30vw;
    margin: 0 auto;
    margin-top: 5px;
}

.currentJob {
    margin-top: 5vh;
}

.startJob {
    margin-top: 3vh;
}
