.container-fluid{
  margin-top:8px;
}

.scroll {
  height: 350px;

  overflow-y: scroll;
}

.scroll table {
  width: 100%;
  table-layout: fixed;
}

.scroll th {
  padding-bottom: 5px;
}

.scroll td {
  border-bottom: dashed;
}

input[type=text] {
  padding: 6px;
  font-size: 17px;
}

.search-container input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #ded8d8;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
  margin-left: 15px;
}

.search-container {
  margin-bottom: 10px;
}

.search-container input[type=radio]:hover {
  background-color: #c4bfbf;
}

.search-container input[type=radio]:checked {
  background-color: #39a5fe;
}

.search-container select {
  width: 150px;
}

.search-container button {
  padding: 8px 12px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.analysis-container {

}
